<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @category.ancestry %>
</p>

<div>
  <% if @category.image %>
    <%= image_tag @category.image.thumb_url %>
    <br />
    <%= link_to 'Delete image', [@category, @category.image], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
    <%= render "images/form" %>
  <% end %>
</div>
<br />

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
