<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Shop price:</strong>
  <%= @product.shop_price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<div>
  <% @product.images.each do |image| %>
    <%= image_tag image.thumb_url %>    
    <%= link_to 'Delete image', [@product, image], method: :delete, data: { confirm: 'Are you sure?' } %>
    <br />
  <% end %>
  <%= render "images/form" %>  
</div>
<br />

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
